.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
}

.filtres {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.select {
  margin-bottom: 10px;
}
